 @model Blog
@{
    ViewData["Title"] = "Delete";
}

<div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" style="background-color: #B2BABB">
                  <ul>
                      <li>
                      Navbar Logo:<br>
                      <img src="~/Assets/img/blog/@Model.Image" style="width: 200px; border-radius: 0%;" />
                  </li><br><br>

                   <li>
                      Title:@Model.Title
                  </li>
                   <li>
                      Explanation:@Model.Explanation
                  </li>
                   <li>
                      Description:@Model.Description
                  </li>
                  
                  </ul>
                   <p>Are you sure ?</p>
                  <form style="display: inline-block" method="post" asp-action="Delete"><button class="btn btn-secondary" type="submit">Submit</button></form>
                   <a class="btn btn-primary" asp-action="Index">Cancel</a>
                </div>
              </div>
            </div>
             </div>
              </div>
            </div>


